/* .swiper-pagination-bullet-active {
     background-color: red !important;
}
 */
/* :root {
  --swiper-navigation-color: brown;
} */

/* .swiper-button-prev {
  background-image: url("/src/assets/images/left-scroll.png") !important;

} */

/* .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */

/* .swiper-button-prev {
    color: red; 
}

.swiper-button-next {
    color: blue; 
} */


.swiper {
  width: 100%;
  height: 100%;
}
/* 
.swiperProduct {
  display:flex;
  flex-direction:row;
  width:100%;
  background-color:green;
  padding:1px;
} */
.productSlider {
   /* width:500px !important; */
   height:200px;
   background-color:blue;
   padding:2px;
   
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-color:yellow;
  padding:1px;



  display: flex;
  justify-content: center;
  align-items: center; 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}